<h2>Register</h2>
<form>
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" required />
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" required />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" required />
  </div>
  <div>
    <label for="confirmpassword">ConfirmPassword:</label>
    <input type="confirmpasswordpassword" id="confirmpasswordpassword" required />
  </div>
  <button type="submit">Register</button>
</form>

