<div *ngIf="isLoggedIn; else notLoggedIn">
  <div *ngIf="loading">Loading products...</div>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>

  <table *ngIf="!loading && !errorMessage">
    <thead>
      <tr>
        <th>Products Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td><strong>{{ product.name }}</strong></td>
        <td>${{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.quantity }}</td><td>
          <button type="button" class="btn-delete" (click)="deleteProduct(product.id)">Delete</button>
          <button type="button" class="btn-update" (click)="editProduct(product)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  <form (submit)="createProduct({ name: productName.value, description: productDescription.value, price: +productPrice.value, 
    quantity: +productQuantity.value }); $event.preventDefault()">
    <input #productName type="text" placeholder="Product Name" required />
    <input #productDescription type="text" placeholder="Description" />
    <input #productPrice type="number" placeholder="Price" required />
    <input #productQuantity type="number" placeholder="Quantity" />
    <div class="form-actions">
      <button *ngIf="!isEditing" type="submit" class="btn-create">Create Product</button>
      <button *ngIf="isEditing" type="submit" class="btn-update">Save Changes</button>
    </div>
  </form>
</div>

<ng-template #notLoggedIn>
  <p>You are not logged in. Please <a [routerLink]="['/login']">log in</a>.</p>
</ng-template>
