<header>
    <div class="logo-container">
        <a href="/">
            <img src="/images/logo.jpg" alt="Logo" class="logo">
        </a>
    </div>
    <nav>
        <ul>
            <li *ngIf="isLoggedIn"><a routerLink="/products">Products</a></li>
            <li *ngIf="isLoggedIn"><a routerLink="/orders">Orders</a></li>
            <li *ngIf="isLoggedIn" class="username dropdown">
                <a class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"
                    style="cursor: pointer;">
                    Welcome, {{ username }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
                    <li><button class="dropdown-item" (click)="logout()">Logout</button></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
  